@font-face {
  font-family: "TTInterfacesRegular";
  src: url("../fonts/TTInterfaces-Regular.otf") format("truetype");
  src: url("../fonts/TTInterfaces-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "TTInterfacesBold";
  src: url("../fonts/TTInterfaces-Bold.otf") format("truetype");
  src: url("../fonts/TTInterfaces-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "TTInterfacesExtraLight";
  src: url("../fonts/TTInterfaces-ExtraLight.otf") format("truetype");
  src: url("../fonts/TTInterfaces-ExtraLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "TTInterfacesLight";
  src: url("../fonts/TTInterfaces-Light.otf") format("truetype");
  src: url("../fonts/TTInterfaces-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "TTInterfacesLight";
  src: url("../fonts/TTInterfaces-Medium.otf") format("truetype");
  src: url("../fonts/TTInterfaces-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
